<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Avenue</title>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<div id="app">
    <header>
        <h1 v-text="sitename"></h1>
        <p>Welcome to Activity Avenue, your go-to platform for discovering and booking exciting after-school activities and classes for students. Whether you're looking for creative arts, sports, or tutoring sessions, we have it all! Browse, sort, and book the perfect activities for your child with just a few clicks!</p>
        <div class="sorting">
            <label for="sort">Sort by:</label>
            <select v-model="sortBy" id="sort" @change="setSort">
                <option value="price">Price</option>
                <option value="location">Location</option>
                <option value="availableSpots">Available Spots</option>
            </select>
            <select v-model="sortOrder" id="order" @change="setSort">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
        </div>
        <button class="cart-button" v-on:click='showCheckout'>
            {{cartItemCount}} 
            <span class="fas fa-cart-plus"></span> 
            Checkout
            
        </button>
    </header>

    <main>
        <div class="search-bar">
            <label for="search">Search:</label>
            <input type="text" v-model="searchQuery" id="search" placeholder="Search by title, location, or price"/>
        </div>
        <div v-if="showProduct">
            <div class="grid">
                <div v-for="classItem in sortedClasses" :key="classItem.id" class="class-card">
                    <figure>
                        <img v-bind:src="classItem.image" alt="Class Image">
                    </figure>
                    <h2 v-text="classItem.title"></h2>
                    <p v-html="classItem.description"></p>
                    <p>Price: £{{ classItem.price }}</p>
                    <p v-html="classItem.location"></p>
                    <p>Available Spots: {{ classItem.availableSpots }}</p>
                    <button v-on:click='addToCart(classItem)' v-if='canAddToCart(classItem)'>Add to cart</button>
                    <span v-if='classItem.availableSpots === cartCount(classItem.id)'>All out!</span>
                    <span v-else-if="classItem.availableSpots - cartCount(classItem.id) < 5">Only {{classItem.availableSpots - cartCount(classItem.id)}} left!</span>
                    <span v-else>Buy now!</span>
                    <div>
                        <span v-for='n in classItem.rating'>★</span>
                        <span v-for='n in 5 - classItem.rating'>☆</span>
                    </div>
                </div>
            </div>
        </div>

        <div v-else>
            <h2>Shopping Cart</h2>
            <div class="grid">
                <div v-for="classItem in cartClasses" :key="classItem.id" class="class-card">
                    <figure>
                        <img v-bind:src="classItem.image" alt="Class Image">
                    </figure>
                    <h2 v-text="classItem.title"></h2>
                    <p v-html="classItem.description"></p>
                    <p>Price: £{{ classItem.price }}</p>
                    <p v-html="classItem.location"></p>
                    <p>Available Spots: {{ classItem.availableSpots }}</p>
                    <button v-on:click="removeFromCart(classItem)">Remove</button>
                </div>
            </div>

            <h2>Checkout</h2>
            <p>Items in cart: {{ cartItemCount }}</p>

            <div class="checkout-form">
                <p>
                    <strong>First Name:</strong>
                    <input v-model.trim="order.firstName" type="text"/>
                </p>
                <p>
                    <strong>Last Name:</strong>
                    <input v-model.trim="order.lastName" type="text"/>
                </p>
                <p>
                    <strong>Address:</strong>
                    <input v-model.trim="order.address" type="text"/>
                </p>
                <p>
                    <strong>City:</strong>
                    <input v-model.trim="order.city" type="text"/>
                </p>
                <p>
                    <strong>ZIP Code:</strong>
                    <input v-model.trim="order.zip" type="text"/>
                </p>
                <p>
                    <strong>Region:</strong>
                    <select v-model="order.region">
                        <option v-for="(region, key) in regions" :key="key" :value="key">{{ region }}</option>
                    </select>
                </p>
                <p>
                    <strong>Phone:</strong>
                    <input v-model.trim="order.phone" type="tel"/>
                </p>
                <button v-on:click="submitForm" :disabled="!order.firstName || !order.lastName || !order.address || !order.city || !order.zip || !order.region || !order.phone">Place Order</button>
            </div>
    
    </main>
</div>

<script src="/app.js"></script>
</body>
</html>
